/* Swiper Carousel Style */
.swiper-slide {
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.swiper-slide:hover {
  transform: scale(1.05);
}

/* Pagination Bullets */
.swiper-pagination-bullet {
  background-color: #b0cf25 !important;
  opacity: 0.4 !important;
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  background-color: #b0cf25 !important;
  opacity: 1 !important;
}
