.breadcrumb-item,
.breadcrumb-item a,
.breadcrumb-item::before {
  color: var(--white-color) !important;
  text-decoration: none;
}

.breadcrumb-item a:hover {
  color: var(--secondary-color) !important;
}
