@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@500&display=swap");

* {
  box-sizing: border-box;
  font-family: "Archivo", sans-serif;
}

html {
  scroll-behavior: smooth;
}

:root {
  --primary-color: #002147;
  --secondary-color: #b9cf25;
  --grey-color: #999999;
  --white-color: #fff;
}

h1 {
  color: var(--primary-color);
  word-spacing: 4px;
}

span {
  color: var(--secondary-color);
}

.mt-8 {
  margin-top: 80px;
}

.mb-8 {
  margin-bottom: 80px;
}

#pri-btn {
  color: var(--white-color);
  background-color: var(--primary-color);
  padding: 10px 20px;
}

#pri-small-btn {
  color: var(--white-color);
  background-color: var(--primary-color);
  padding: 5px 12px;
  font-size: 14px;
}

#pri-btn:hover,
#pri-small-btn:hover {
  color: var(--primary-color);
  background-color: transparent;
  border: 1px solid var(--primary-color);
}

#sec-btn {
  color: var(--white-color);
  background-color: var(--secondary-color);
  padding: 10px 20px;
}

#sec-small-btn {
  color: var(--white-color);
  background-color: var(--secondary-color);
  padding: 5px 12px;
  font-size: 14px;
}

#sec-btn:hover,
#sec-small-btn:hover {
  color: var(--secondary-color);
  background-color: transparent;
  border: 1px solid var(--secondary-color);
}
