/* ---------------- About Page CSS ---------------- */
#about-president {
  border: none;
  flex-direction: row-reverse;
}

#about-president .card-body {
  border-top: 5px solid var(--secondary-color);
  margin-right: 4%;
  height: fit-content;
}

/* Our Vision Card Section */
#about-vision {
  border: none;
  flex-direction: row;
}

#about-vision .card-body {
  border-top: 5px solid var(--secondary-color);
  margin-left: 4%;
  height: fit-content;
}

@media screen and (max-width: 990px) {
  #aboutus {
    display: flex;
    flex-direction: column;
  }

  #aboutus img {
    width: 100% !important;
    margin-bottom: 30px;
  }

  #aboutus .card-body {
    margin: 0;
  }

  #about-president,
  #about-vision {
    flex-direction: column;
  }

  #about-president img,
  #about-vision img {
    width: 100% !important;
    margin-bottom: 30px;
  }

  #about-president .card-body,
  #about-vision .card-body {
    margin: 0;
  }
}
