@import "tailwindcss";

@theme {
  /* Breakpoints */
  --breakpoint-xs: 450px;

  /* Width */
  --max-width-outerContainer: 1920px;

  /* Font Sizes */
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;
  --font-size-2xl: 22px;
  --font-size-3xl: 24px;
  --font-size-4xl: 26px;
  --font-size-5xl: 28px;
  --font-size-6xl: 30px;
  --font-size-7xl: 32px;
  --font-size-8xl: 34px;
  --font-size-9xl: 36px;
  --font-size-10xl: 40px;

  /* Colors */
  --color-custom-gray: #909090;
  --color-custom-blue: #002147;
  --color-custom-green: #b0cf25;
}

@layer base {
  html {
    @apply w-full h-screen scroll-smooth overflow-y-auto;
  }

  input,
  button,
  textarea {
    @apply outline-none;
  }
}

@layer components {
  .outerContainerStyle {
    @apply relative max-w-outerContainer w-full h-full flex flex-col mx-auto shadow-2xl overflow-hidden;
  }

  .innerContainerStyle {
    @apply flex flex-col xs:gap-8 sm:gap-10 md:gap-12 lg:gap-14 xl:gap-16 2xl:gap-20;
  }

  .innerContainerPadding {
    @apply xs:px-6 sm:px-8 md:px-10 lg:px-12 xl:px-14 2xl:px-16;
  }

  .titleStyle {
    @apply text-5xl font-semibold;
  }

  .descriptionStyle {
    @apply text-xl font-light opacity-75;
  }

  .basicBtnStyle {
    @apply px-6 py-3 font-medium rounded-3xl transition-colors duration-300 text-white bg-custom-green hover:bg-custom-green/85;
  }
}
